@import "tailwindcss";

@theme {
  --color-gray-concrete: #e5e5e5;
  --color-white-pure: #ffffff;
  --color-black-solid: #000000;

  --font-orbitron: var(--font-orbitron);

  --border-width-0-5: 0.5px;
  --border-width-1: 1px;
}

:root {
  --background: var(--color-gray-concrete);
  --foreground: var(--color-black-solid);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-orbitron), sans-serif;
}
